// about.scss

$break-small: 767px;
$break-large: 1200px;
$dark-blue: #263248;
$light-color: #fff;
$sec-color: #FF9800;

.about {
	padding-top: 80px;


	.photo-primary {
		text-align: center;
		img {
    	max-width: 70%;
		}
	}

	.description {
		padding: 60px 0;
	}

	.social-icons {
		overflow: hidden;
    -webkit-transition: all ease 0.8s;
    -moz-transition: all ease 0.8s;
    transition: all ease 0.8s;
    margin-top: 80px;
    margin-bottom: 80px;

		ul {
			margin: 0;
			display: inline-block;
			padding: 0;
			li {

				&.socials {
					width: 100px;
			    height: 100px;
			    background-color: #444444;
			    color: #FFFFFF;
			    text-align: center;
			    font-size: 52px;
			    line-height: 52px;
			    font-weight: bold;
			    list-style-type: none;
			    float: left;
			    margin: 0;
			    padding: 0;

			    &.fb-bg {
			    	background-color: #3B5998;
			    }
			    &.tweet-bg {
			    	background-color: #9AE4E8;
			    }
			    &.google-bg {
			    	background-color: #DD4B39;
			    }
			    &.pin-bg {
			    	background-color: #BD1E23;
			    }
			    &.git-bg {
			    	background-color: #252525;
			    }
			    &.yt-bg {
			    	background-color: #DD4B39;
			    }
			    &.so-bg {
			    	background-color: #e14107;
			    }
			    &.down-bg {
			    	background-color: #000000;
			    }
			    &.lrg {
			    	    width: 180px;
			    }

			    a {
			    	color: #fff;
				    text-decoration: none;
				    display: block;
				    margin: 20px;
				    overflow: hidden;
				    -webkit-transition: all ease 0.8s;
				    -moz-transition: all ease 0.8s;
				    transition: all ease 0.8s;
			    }
				}
				@media only screen and (max-width: 320px) {
					&.socials {
						width: 70px;
						height: 70px;
						font-size: 22px;
						line-height: 22px;
					}
				}
				@media only screen and (min-width: 321px) and (max-width: $break-small) {
					&.socials {
						width: 80px;
						height: 80px;
						font-size: 32px;
						line-height: 32px;
					}
				}
				
				
			}
		}
		
	}
}


.counter {
		background: url(../img/counter-banner.png) 50% 105px / cover fixed;
    color: #ffffff;
    text-align: center;
    position: relative;

    .overlay {
    	position: absolute;
	    width: 100%;
	    height: 100%;
	    z-index: 1;
	    background: url("../img/noise.png");
    }

    .content {
    	padding-bottom: 50px;
	    padding-top: 50px;
	    position: relative;
	    z-index: 2;
    }

    h3 {
    	font-size: 40px;
    	letter-spacing: 8px;
    	color: white;
    }

    h5 {
    	margin-top: 10px;
    	font-size: 12px;
    	letter-spacing: 3px;
    	text-transform: uppercase;
    	color: white;
    }

    .lnr {
    	font-size: 40px;
    	padding-top:4px;
    }
    .col-md-2 {
    	border-right: 1px solid #ddd;
    	padding-top: 20px;
    	padding-bottom:20px;
    }
    .col-md-2-last {
    	border: 0;
    }
}