// home.scss

$break-small: 767px;
$break-large: 1200px;
$dark-blue: #263248;
$light-color: #fff;
$sec-color: #FF9800;

.navbar-inverse {
	margin-bottom: 0px;
	z-index: 3;
	background-color: transparent;	
	border-color: transparent;

	@media screen and (max-width: $break-small) {
    background-color: white;
   }

	.navbar-nav {
		li {
			a {
				color: $light-color;
		    font-size: 12px;
		    text-transform: uppercase;
		    font-weight: 400;
		    padding: 30px 20px;
		    letter-spacing: 1px;
			}

			&.active, &.active:hover {
				a {
					background-color: transparent;
				}
			}
			@media screen and (max-width: $break-small) {
    		a {
					color: black;
			    font-size: 12px;
			    text-transform: uppercase;
			    font-weight: 400;
			    padding: 30px 20px;
			    letter-spacing: 1px;
			    &:hover {
			    	background-color:	 $sec-color;
						color: $light-color;
			    }
				}
				&.active, &.active:hover {
					a {
						color: $sec-color;
					}
				}
   		}
		}
	}

	.navbar-toggle {
		margin-top: 22px;
		background-color: white;
		border-color: $sec-color;
		.icon-bar {
			background-color: $sec-color;
		}
		
		&:hover, &:focus {
			background-color: $sec-color;
			.icon-bar {
				background-color: $light-color;
			}
		}
		
	}

	.navbar-brand {
    color: #ffffff;
    padding: 0px;
    line-height: 0px;
    width: 100px;
    height: 40px;
    background: url("../img/logo-40x100.png") no-repeat center;
    margin: 20px 0px;

    @media screen and (max-width: $break-small) {
    	margin-left: 20px;
    	background: url("../img/logo-dark-40x100.png") no-repeat center;
    }
	}
}
.banner {
	background: url('../img/banner-2.png') center;
	background-size: cover;
	height: 100vh;
	width: 100%;
	position: relative;
	display: table;
	z-index: 1;

	.overlay {
		position: absolute;
		z-index: 1;
		height: 100%;
		width: 100%;
		background: url('../img/noise.png') center;
	}

	.banner-content {
	  position: relative;
    z-index: 2;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: $light-color;

    .subtitle {
    	text-align: center;
	    margin: 0 auto;
	    font-size: 24px;
	    margin-top: 20px;
	    line-height: 35px;
	    text-transform: uppercase;
	    font-weight: 300;
	    letter-spacing: 2px;
	    display: inline-block;
	    position: relative;
	    margin-bottom: 15px;
    }

    .title {
    	width: 80%;
    	text-align: center;
    	margin: 0 auto;
    }

    .buttons {
    	display: inline-block;
    }

    .def-btn {
    	border-radius: 0px;
	    -webkit-border-radius: 0px;
	    -moz-border-radius: 0px;
	    margin-right: 15px;
	    font-weight: 700;
	    border: 0px;
	    padding: 10px 5px;
	    border-bottom: 1px solid $light-color;
    }

    .scroll-info {
    	position: absolute;
	    bottom: 15%;
	    text-align: center;
	    width: 100%;
    }
	}
}