// portfolio.scss

$break-small: 767px;
$break-large: 1200px;
$dark-blue: #263248;
$light-color: #fff;
$sec-color: #FF9800;
.portfolio {
	margin-top: 80px;

	.portfolio-container, .portfolio-container-more {
		padding-top: 80px;

		.col-sm-6, .col-xs-12 {
			margin-bottom: 30px;
		}
		.item {
			position:relative;
			overflow: hidden;

			img {
				width: 100%;
			}
			.item-details {	
				padding: 3em;
				position: absolute;
				text-transform: uppercase;
				top: 0;
				left: 0;
				right: 0;
				opacity: 0;
				height: 100%;
				width: 100%;
				color: #fff;
				background-color: rgba(0,0,0,0.7);

				span {
					height:100%;
					display:block;
					border: 1px solid white;
					padding: 3em;
					letter-spacing: 3px;
					-webkit-transition: all 0.7s ease;
					transition: all 0.7s ease;
					-webkit-transform:scale(0);
					transform:scale(0);
					a {
						border-radius: 0;
						display:block;
						margin-top: 30px;
						padding:10px 20px;
						background-color:white;
						color: black;
						text-decoration: none;
						font-weight: 400;
						cursor: pointer;

					}
				}
			}
			&:hover, &:focus {
				.item-details {
					opacity: 1;
					-webkit-transition: all 0.7s ease;
					transition: all 0.7s ease;
					span {
						-webkit-transform:scale(1);
						transform:scale(1);
					}
				}
			}
		}
	}
	.show-more {
		&:before {
			content: "";
			width: 100%;
			position: absolute;
			top: 50%;
			border-top: 2px solid #e5e5e5;
			left: 0;
		}
		.def-btn {
			padding: 0px 15px;
			background: #fff;
			color: #888;
			position: relative;
			font-size: 14px;
			color: $dark-blue;
			text-decoration: none;
		}
	}

}

