// portfolio.scss

$break-small: 767px;
$break-large: 1200px;
$dark-blue: #263248;
$light-color: #fff;
$sec-color: #FF9800;
.portfolio {
	padding-top: 80px;

	.portfolio-container {
		padding-top: 80px;

		.item {
			padding: 20px;
			position:relative;

			.textbox {
				margin: 45px;
				width:296px;
				height:283px;
				position:absolute;
				top:0;
				left: 0;	
  			border: 1px solid white;
				-webkit-transform: scale(0);
				transform: scale(0);
				text-align: center;
				color:white;
				-webkit-transition: all 0.7s ease;
				transition: all 0.5s ease;
				
			}
			&:hover {
				.textbox {
					-webkit-transform: scale(1);
					transform: scale(1);
				}
				.overlay {
					width:346px;
					height:333px;
			    position:absolute;
			    background-color:#000;
			    opacity:0.5;
				}
			}

			.text {
				padding-top: 50px;
				letter-spacing: 3px;
				font-weight: 300;

			}
		}
	}
	.show-more {
		&:before {
			content: "";
	    width: 100%;
	    position: absolute;
	    top: 50%;
	    border-top: 2px solid #e5e5e5;
	    left: 0;
		}
		.def-btn {
			padding: 0px 15px;
    background: #fff;
    color: #888;
    position: relative;
    font-size: 14px;
			color: $dark-blue;
			text-decoration: none;
		}
	}
	
}

